body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: transparent;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 30%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 15px;
  pointer-events: none;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  pointer-events: all;
}

.map {
  flex: 1;
}

#add-point-btn, #query-btn, #add-linestring-btn, #add-polygon-btn{
  border: none;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#add-point-btn {
  background-color: rgb(45, 190, 35);
}

#query-btn {
  background-color: hsl(195, 56%, 36%);
}

#add-linestring-btn {
  background-color: rgb(45, 160, 190);
}

#add-polygon-btn {
  background-color: rgb(190, 45, 160);
}
#add-point-btn:after,
#query-btn:after,
#add-linestring-btn:after,
#add-polygon-btn:after{
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
  border-radius: 5px;
}

#add-point-btn:hover {
  color: #2dbe23;
  background-color: #ffffff;
}

#add-polygon-btn:hover {
  color: rgb(190, 45, 160);
  background-color: #ffffff;
}

#add-linestring-btn:hover {
  color: rgb(45, 160, 190);
  background-color: #ffffff;
}

#query-btn:hover {
  color: #28758e;
  background-color: #ffffff;
}

#add-point-btn:hover:after,
#query-btn:hover:after,
#add-linestring-btn:hover:after,
#add-polygon-btn:hover:after  {
  left: auto;
  right: 0;
  width: 100%;
}

#add-point-btn:active,
#query-btn:active,
#add-linestring-btn:active,
#add-polygon-btn:active {
  top: 2px;
}

.jspanel {
  position: absolute;
  background-color: rgb(113, 208, 229);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 1001;
  display: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jspanel label {
  display: block;
  margin-bottom: 5px;
}

.jspanel input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #def4f6;
}

.jspanel button {
  padding: 10px 20px;
  background-color: #2dbe23;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.jspanel button:hover {
  background-color: #1b8c17;
}

.close-panel-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.close-panel-btn:hover {
  color: #f1f1f1;
}

.query-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(241, 222, 243);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  min-width: 100px;
  min-height: 200px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  font-size: 14px;
}

.query-panel h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.query-panel table {
  font-size: 12px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  background-color: #e9746c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.close-btn:hover {
  background-color: #7c0606;
}

.dataTables_wrapper {
  min-width: 100%;
  overflow: auto;
  background-color: rgb(244, 233, 245);
}

#points-table {
  width: 100% !important;
  min-width: 500px;
}

#points-table th, #points-table td {
  padding: 8px;
  text-align: left;
}

#points-table th {
  background-color: #ecbcf9;
}

.action-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.update-btn {
  background-color: #83fa70;
  color: white;
}

.show-btn {
  background-color: #f1ea62;
  color: white;
}

.delete-btn {
  background-color: #f18881;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #f3baef;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #820d7c;
  width: 200px;
  text-align: center;
}

#panel-update, #map-update {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#update-panel {
  display: none;
}

.table-resizer {
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
}

.table-resizer:hover,
.table-resizer.resizing {
  border-right: 2px solid #999;
}

.confirmation-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d177b0;
  border: 1px solid #560639;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  text-align: center;
  border-radius: 5px;
}

.confirmation-panel button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

#confirm-delete {
  background-color: #ebbedb;
  color: white;
  border: none;
}

#cancel-delete {
  background-color: #a9def1;
  color: rgb(255, 255, 255);
  border: none;
}

#return-to-panel {
  background-color: #b6ea1b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#return-to-panel:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.close-update-options {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-update-options:hover,
.close-update-options:focus {
  color: #222121;
  text-decoration: none;
  cursor: pointer;
}

/* Modal içeriğini düzenleyelim */
.modal-content {
  position: relative;
  background-color: #d76da2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #b11764;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

/* Modal butonlarını düzenleyelim */
.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
#mapUpdateSaveBtn {
  background-color: #eaa6e4;
  border: none;
  color: rgb(246, 231, 242);
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 120px;
  height: 30px;
  position: fixed;   /* Sayfanın sağ alt köşesine sabitler */
  bottom: 20px;      /* Alt köşeye olan mesafe */
  right: 20px;       /* Sağ köşeye olan mesafe */
}

#mapUpdateSaveBtn:hover {
  background-color: #e06abe;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#finish-drawing {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f975aa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}