body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: transparent;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 30%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 15px;
  pointer-events: none;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  pointer-events: all;
}

.map {
  flex: 1;
}

#add-point-btn {
  border: none;
  background-color: #2dbe23;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
#query-btn {
  background-color: #28758e;
  border: none;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

#add-point-btn:after,
#query-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
  border-radius: 5px;
}

#add-point-btn:hover {
  color: #2dbe23;
  background-color: #ffffff;
}
#query-btn:hover {
  color: #28758e;
  background-color: #ffffff;
}

#add-point-btn:hover:after,
#query-btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

#add-point-btn:active,
#query-btn:active {
  top: 2px;
}


.jspanel {
  position: absolute;
  background-color: #71d0e5; /* Panel rengi mavi */
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Panelin kenarlarını yuvarlat */
  padding: 20px;
  z-index: 1001;
  display: none; /* Başlangıçta gizli */
  color: white; /* Yazı rengi beyaz */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jspanel label {
  display: block;
  margin-bottom: 5px;
}

.jspanel input[type="text"] {
  width: calc(100% - 22px); /* Genişliği panelin kenar boşluklarını da kapsayacak şekilde ayarla */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Input alanlarının kenarlarını yuvarlat */
  background-color: #def4f6; /* Input alanlarının rengi beyaz */
}

.jspanel button {
  padding: 10px 20px;
  background-color: #2dbe23;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.jspanel button:hover {
  background-color: #1b8c17;
}
