body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: transparent;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 30%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 15px;
  pointer-events: none;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  pointer-events: all;
}

.map {
  flex: 1;
}

#add-point-btn {
  border: none;
  background-color: rgb(45, 190, 35);
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#query-btn {
  background-color: hsl(195, 56%, 36%);
  border: none;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#add-point-btn:after,
#query-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
  border-radius: 5px;
}

#add-point-btn:hover {
  color: #2dbe23;
  background-color: #ffffff;
}

#query-btn:hover {
  color: #28758e;
  background-color: #ffffff;
}

#add-point-btn:hover:after,
#query-btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

#add-point-btn:active,
#query-btn:active {
  top: 2px;
}

.jspanel {
  position: absolute;
  background-color: rgb(113, 208, 229);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 1001;
  display: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jspanel label {
  display: block;
  margin-bottom: 5px;
}

.jspanel input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #def4f6;
}

.jspanel button {
  padding: 10px 20px;
  background-color: #2dbe23;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.jspanel button:hover {
  background-color: #1b8c17;
}

.query-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(241, 222, 243);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  min-width: 100px;
  min-height: 200px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  font-size: 14px;
}

.query-panel h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.query-panel table {
  font-size: 12px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  background-color: #83160e;
  color: rgb(147, 93, 93);
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.close-btn:hover {
  background-color: #d32f2f;
}

.dataTables_wrapper {
  min-width: 100%;
  overflow: auto;
}

#points-table {
  width: 100% !important;
  min-width: 500px;
}

#points-table th, #points-table td {
  padding: 8px;
  text-align: left;
}

#points-table th {
  background-color: #ecbcf9;
}

.action-btn {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.update-btn {
  background-color: #9de99f;
  color: white;
}

.show-btn {
  background-color: #ebfaa7;
  color: white;
}

.delete-btn {
  background-color: #f0a09b;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 200px;
  text-align: center;
}

#panel-update, #map-update {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#update-panel {
  display: none;
}

.table-resizer {
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
}

.table-resizer:hover,
.table-resizer.resizing {
  border-right: 2px solid #999;
}